<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermarket.points.mapper.OrderInfoMapper">
    <insert id="insert" parameterType="com.supermarket.points.model.entity.OrderInfo">
        INSERT INTO order_info (order_no, user_id, commodity_id, amount, points, pay_status, order_status, create_time)
        VALUES (#{orderNo}, #{userId}, #{commodityId}, #{amount}, #{points}, #{payStatus}, #{orderStatus}, #{createTime})
    </insert>

    <select id="selectByUserId" resultType="com.supermarket.points.model.entity.OrderInfo">
        SELECT * FROM order_info WHERE user_id = #{userId}
        ORDER BY create_time DESC
            LIMIT #{pageNum}, #{pageSize}
    </select>

    <select id="selectTotalByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM order_info WHERE user_id = #{userId}
    </select>

    <update id="updatePayStatus">
        UPDATE order_info SET pay_status = #{payStatus}, order_status = #{orderStatus}, pay_time = NOW()
        WHERE order_no = #{orderNo}
    </update>
</mapper>
