<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supermarket.points.mapper.SysPointsLogMapper">
    <sql id="Base_Column_List">
        id, user_id, username, points, type, remark, create_time, commodity_id, commodity_name
    </sql>

    <insert id="insert" parameterType="com.supermarket.points.model.entity.SysPointsLog">
        INSERT INTO sys_points_log (
            user_id, username, points, type, remark, create_time,
            commodity_id, commodity_name
        )
        VALUES (
                   #{userId}, #{username}, #{points}, #{type}, #{remark}, #{createTime},
                   #{commodityId}, #{commodityName}
               )
    </insert>

    <select id="selectByUserIdPage" resultType="com.supermarket.points.model.entity.SysPointsLog">
        select <include refid="Base_Column_List"/> from sys_points_log
        where user_id = #{userId}
        order by create_time desc
        limit #{start}, #{pageSize}
    </select>

    <select id="selectLogTotalByUserId" resultType="java.lang.Integer">
        select count(1) from sys_points_log where user_id = #{userId}
    </select>

    <select id="selectAllPage" resultType="com.supermarket.points.model.entity.SysPointsLog">
        select <include refid="Base_Column_List"/> from sys_points_log
        order by create_time desc
        limit #{start}, #{pageSize}
    </select>

    <select id="selectAllLogTotal" resultType="java.lang.Integer">
        select count(1) from sys_points_log
    </select>
</mapper>